---
layout: default
title: Blog
---

<div class="turquoise" itemscope itemtype="http://schema.org/Person">
  <div class="row">
    <div class="centered twelve columns">
      <div class="jumbotron">
        <h1>I'm <span itemprop="name">Ben Gibbs</span></h1>
        <p class="lead align-center"><span itemprop="jobTitle">Freelance Ruby on Rails developer</span> based in Manchester</p>
        <div class="medium primary btn jumbo"><a href="/contact.html">Available for Hire</a></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div class="row">
      <div class="centered four columns title align-center">
        <h3>My Work</h3>
      </div>
    </div>
    <div class="row grey-pics">
      <div class="three columns image align-center">
        <img class="grayscale" src="/img/Hovis-logo.png"/>
      </div>
      <div class="three columns image align-center">
        <img class="grayscale" src="/img/TDB.png"/>
      </div>
      <div class="three columns image align-center">
        <img class="grayscale" src="/img/gli.png"/>
      </div>
      <div class="three columns image align-center">
        <img class="grayscale" src="/img/c8online.jpeg"/>
      </div>
    </div>
    <div class="row grey-pics">
      <div class="three columns image align-center">
        <img class="grayscale" src="/img/www.planmypension.co.png"/>
      </div>
      <div class="three columns image align-center">
        <img class="grayscale" src="/img/buddybuy.png"/>
      </div>
      <div class="three columns image align-center">
        <img class="grayscale" src="/img/mughli.png"/>
      </div>
      <div class="three columns image align-center">
        <img class="grayscale" src="/img/businessgrowthhub.png"/>
      </div>
    </div>

    <div class="row originals">
      <div class="twelve columns">
        <div class="row">
          <div class="centered four columns title align-center">
            <h3>My Products</h3>
          </div>
        </div>
        <div class="row">
          <div class="four columns image photo align-center">
            <a href="http://www.borrownote.com/"><img class="grayscale" src="/img/borrownote.png"/></a>
          </div>
          <div class="four columns image photo align-center">
            <a href="http://giftaidr.com/"><img class="grayscale" src="/img/giftaidr_logo.png"/></a>
          </div>
          <div class="four columns image photo align-center">
            <a href="http://glidely.com/"><img class="grayscale" src="/img/glidely_logo.png"/></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">

        <a name="thoughts">
          <div class="row">
            <div class="centered four columns title align-center">
              <h3>My Blog</h3>
            </div>
          </div>
        </a>

        <div class="row">
          <div class="centered twelve columns align-center">

            {% for post in paginator.posts %}

                <h4 class="light-grey">
                  <a href="{{ post.url }}">{{ post.title }}</a><br />
                  <small>{{ post.date | date: "%B %e, %Y" }}</small>
                </h4>

            {% endfor %}

            <!-- Pagination links -->
            <div class="pagination">
              {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                  <div class="small btn pill-left default"><a href="/#thoughts">Previous</a></div>
                {% else %}
                  <div class="small btn pill-left default"><a href="/{{ paginator.previous_page_path }}#thoughts">Previous</a></div>
                {% endif %}
              {% else %}
                <div class="small btn pill-left default disabled"><a href="#">Previous</a></div>
              {% endif %}
              <!-- <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> -->
              
              {% if paginator.page == 1 %}
                <div class="small btn squared info"><a href="#">1</a></div>
              {% else %}
                <div class="small btn squared default"><a href="/#thoughts">1</a></div>
              {% endif %}

              {% for count in (2..paginator.total_pages) %}
                {% if count == paginator.page %}
                  <div class="small btn squared active info"><a href="#">{{ count }}</a></div>
                {% else %}
                  <div class="small btn squared default"><a href="/page{{ count }}#thoughts">{{ count }}</a></div>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <div class="small btn pill-right default"><a href="/page{{ paginator.next_page }}#thoughts">Next</a></div>
              {% else %}
                <div class="small btn pill-right disabled default"><a href="#">Next</a></div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="centered eleven columns align-center">
        <div class="medium info btn icon-left entypo icon-twitter"><a href="https://twitter.com/bobop">@bobop</a></div>
        <div class="medium info btn icon-left entypo icon-facebook-squared"><a href="https://www.facebook.com/boboppage">Facebook</a></div>
        <div class="medium info btn icon-left entypo icon-linkedin"><a href="http://uk.linkedin.com/in/benjgibbs">LinkedIn</a></div>
        <div class="medium info btn icon-left entypo icon-github"><a href="http://github.com/bobop">Github</a></div>
        <div class="medium info btn icon-left entypo icon-gplus"><a href="https://plus.google.com/111410012808185125992/posts">Google+</a></div>
      </div>
    </div>
  </div>
</div>
