---
layout: default
title: Blog
---

<div class="turquoise" itemscope itemtype="http://schema.org/Person">
  <div class="row">
    <div class="twelve columns">
      <div class="jumbotron">
        <h1>I'm <span itemprop="name">Ben Gibbs</span></h1>
        <p class="lead"><span itemprop="jobTitle">Freelance Ruby on Rails developer</span> based in Manchester</p>
        <div class="medium primary btn"><a href="#">Available for Hire</a></div>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <h2>PICTURES / LOGOS</h2>

  <h2>{{ page.title }}</h2>

  {% for post in paginator.posts %}

      <p>
        <a href="{{ post.url }}">{{ post.title }}</a>
        {{ post.date | date: "%B %e, %Y" }}
      </p>

  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    <ul>
      {% if paginator.previous_page %}
        <li>
          {% if paginator.previous_page == 1 %}
            <a href="/">Previous</a>
          {% else %}
            <a href="/{{ paginator.previous_page_path }}" class="previous">Previous</a>
          {% endif %}
        </li>
      {% else %}
        <li class="disabled"><span>Previous</span></li>
      {% endif %}
      <!-- <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> -->
      
      {% if paginator.page == 1 %}
        <li class="active"><span>1</span></li>
      {% else %}
        <li><a href="/">1</a></li>
      {% endif %}

      {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
          <li class="active"><span>{{ count }}</span></li>
        {% else %}
          <li><a href="/page{{ count }}">{{ count }}</a></li>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <li><a href="/page{{ paginator.next_page }}" class="next">Next</a></li>
      {% else %}
        <li class="disabled"><span>Next</span></li>
      {% endif %}
    </ul>
  </div>

</div>