---
layout: default
---

<div class="turquoise" itemscope itemtype="http://schema.org/Person">
  <div class="row">
    <div class="twelve columns">
      <h3>
        <span itemprop="name">Ben Gibbs</span>
        <small><span itemprop="jobTitle">Ruby developer and CTO of <a href="http://www.volcanic.co.uk/rift">RIFT</a></span></small>
      </h3>
    </div>
  </div>
</div>

<div class="row" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="twelve columns">
    <h1><span itemprop="name">{{ page.title }}</span><br /><small><span itemprop="datePublished">{{ page.date | date_to_string }}</span></small></h1>

    <div itemprop="articleBody">
      {{ content }}
    </div>
      <hr>
      <div class="row">
        <div class="centered eleven columns align-center">
          <div class="medium info btn icon-left entypo icon-twitter"><a href="https://twitter.com/bobop">@bobop</a></div>
          <div class="medium info btn icon-left entypo icon-facebook-squared"><a href="https://www.facebook.com/boboppage">Facebook</a></div>
          <div class="medium info btn icon-left entypo icon-linkedin"><a href="http://uk.linkedin.com/in/benjgibbs">LinkedIn</a></div>
          <div class="medium info btn icon-left entypo icon-github"><a href="http://github.com/bobop">Github</a></div>
          <div class="medium info btn icon-left entypo icon-gplus"><a href="https://plus.google.com/111410012808185125992/posts">Google+</a></div>
        </div>
      </div>
  </div>
</div>

